## Problem 42 - Coded Triangle Numbers:

<p>The $n$<sup>th</sup> term of the sequence of triangle numbers is given by, $t_n = \frac12n(n+1)$; so the first ten triangle numbers are:
$$1, 3, 6, 10, 15, 21, 28, 36, 45, 55, \dots$$</p>
<p>By converting each letter in a word to a number corresponding to its alphabetical position and adding these values we form a word value. For example, the word value for SKY is $19 + 11 + 25 = 55 = t_{10}$. If the word value is a triangle number then we shall call the word a triangle word.</p>

Using [words.txt](https://www.projecteuler.net/resources/documents/0042_words.txt), a 16K text file containing nearly two-thousand common English words, how many are triangle words?</p>

In [1]:
import urllib
import numpy as np

In [2]:
with urllib.request.urlopen("http://www.projecteuler.net/resources/documents/0042_words.txt") as f:
    text = f.read()
text = text.decode()

In [3]:
text = text.replace('"', '')

In [4]:
text = text.split(",")

In [18]:
letter_scores = {letter: c+1 for c, letter in enumerate("ABCDEFGHIJKLMNOPQRSTUVWXYZ")}

In [19]:
def sum_word(word):
    return(sum([letter_scores[letter] for letter in word]))

In [20]:
triangle_numbers = np.cumsum(np.arange(100)) #gives us triangle numbers up to 210, which is 1 triangle number over max word score

In [21]:
triangle_words = [word for word in text if sum_word(word) in triangle_numbers]

In [22]:
len(triangle_words)

162

In [23]:
sum_word("SKY")

55

In [24]:
letter_scores

{'A': 1,
 'B': 2,
 'C': 3,
 'D': 4,
 'E': 5,
 'F': 6,
 'G': 7,
 'H': 8,
 'I': 9,
 'J': 10,
 'K': 11,
 'L': 12,
 'M': 13,
 'N': 14,
 'O': 15,
 'P': 16,
 'Q': 17,
 'R': 18,
 'S': 19,
 'T': 20,
 'U': 21,
 'V': 22,
 'W': 23,
 'X': 24,
 'Y': 25,
 'Z': 26}