## Daniels solutions

In [3]:
import numpy as np

## Problem 16

<p>$2^{15} = 32768$ and the sum of its digits is $3 + 2 + 7 + 6 + 8 = 26$.</p>
<p>What is the sum of the digits of the number $2^{1000}$?</p>

In [4]:
def sum_of_digits(n):
    return np.sum([int(x) for x in str(n)])

In [5]:
sum_of_digits(2**1000)

1366

## Problem 17

<p>If the numbers $1$ to $5$ are written out in words: one, two, three, four, five, then there are $3 + 3 + 5 + 4 + 4 = 19$ letters used in total.</p>
<p>If all the numbers from $1$ to $1000$ (one thousand) inclusive were written out in words, how many letters would be used? </p>
<br><p class="note"><b>NOTE:</b> Do not count spaces or hyphens. For example, $342$ (three hundred and forty-two) contains $23$ letters and $115$ (one hundred and fifteen) contains $20$ letters. The use of "and" when writing out numbers is in compliance with British usage.</p>

In [138]:
#sounds like I need to make a lookup table for each digit:
#[1, 0, 4] --> [one hundred and, -, four]
#[9,1, 1] --> [nine hundred and, ten, one] --> if [ten, one]: eleven etc for the tens

digit_mapping = {0: '',
                 1: 'one',
                 2: 'two',
                 3: 'three',
                 4: 'four',
                 5: 'five',
                 6: 'six',
                 7: 'seven',
                 8: 'eight',
                 9: 'nine',
                 10: 'ten',
                 11: 'eleven',
                 12: 'twelve',
                 13: 'thirteen',
                 14: 'fourteen',
                 15: 'fifteen',
                 16: 'sixteen',
                 17: 'seventeen',
                 18: 'eighteen',
                 19: 'nineteen',
                 20: 'twenty',
                 30: 'thirty',
                 40: 'forty',
                 50: 'fifty',
                 60: 'sixty',
                 70: 'seventy',
                 80: 'eighty',
                 90: 'ninety',
                 100: 'onehundred',
                 200: 'twohundred',
                 300: 'threehundred',
                 400: 'fourhundred',
                 500: 'fivehundred',
                 600: 'sixhundred',
                 700: 'sevenhundred',
                 800: 'eighthundred',
                 900: 'ninehundred',
                1000: 'onethousand'} 

def number_to_word(n):
    n = str(n)
    string = ""
    digits = [_ for _ in n.zfill(4)]
    for i, x in enumerate(digits):
        x = int(x)
        if x != 0:
            x = x*(10 ** (3-i))
            if i == 2 and x == 10:
                x+= int(digits[-1])
                if string.endswith("hundred"):
                    string+="and"
                string+=digit_mapping[x]
                return string
            else:
                if (i == 2 and len(string)!=0) or (i == 3 and string.endswith("hundred")):
                    string+="and"                    
                string+=digit_mapping[x]
    return string

In [142]:
n_digits = 0
for i in range(1,1001):
    word = number_to_word(i)
    n_digits+=len(word)
print(n_digits)

21124

## Problem 18

<p>By starting at the top of the triangle below and moving to adjacent numbers on the row below, the maximum total from top to bottom is 23.</p>
<p class="monospace center"><span class="red"><b>3</b></span><br><span class="red"><b>7</b></span> 4<br>
2 <span class="red"><b>4</b></span> 6<br>
8 5 <span class="red"><b>9</b></span> 3</p>
<p>That is, 3 + 7 + 4 + 9 = 23.</p>
<p>Find the maximum total from top to bottom of the triangle below:</p>
<p class="monospace center">75<br>
95 64<br>
17 47 82<br>
18 35 87 10<br>
20 04 82 47 65<br>
19 01 23 75 03 34<br>
88 02 77 73 07 63 67<br>
99 65 04 28 06 16 70 92<br>
41 41 26 56 83 40 80 70 33<br>
41 48 72 33 47 32 37 16 94 29<br>
53 71 44 65 25 43 91 52 97 51 14<br>
70 11 33 28 77 73 17 78 39 68 17 57<br>
91 71 52 38 17 14 91 43 58 50 27 29 48<br>
63 66 04 68 89 53 67 30 73 16 69 87 40 31<br>
04 62 98 27 23 09 70 98 73 93 38 53 60 04 23</p>
<p class="note"><b>NOTE:</b> As there are only 16384 routes, it is possible to solve this problem by trying every route. However, <a href="problem=67">Problem 67</a>, is the same challenge with a triangle containing one-hundred rows; it cannot be solved by brute force, and requires a clever method! ;o)</p>

In [207]:
arrays = [
    [75],
    [95, 64],
    [17, 47, 82],
    [18, 35, 87, 10],
    [20, 4, 82, 47, 65],
    [19, 1, 23, 75, 3, 34],
    [88, 2, 77, 73, 7, 63, 67],
    [99, 65, 4, 28, 6, 16, 70, 92],
    [41, 41, 26, 56, 83, 40, 80, 70, 33],
    [41, 48, 72, 33, 47, 32, 37, 16, 94, 29],
    [53, 71, 44, 65, 25, 43, 91, 52, 97, 51, 14],
    [70, 11, 33, 28, 77, 73, 17, 78, 39, 68, 17, 57],
    [91, 71, 52, 38, 17, 14, 91, 43, 58, 50, 27, 29, 48],
    [63, 66, 4, 68, 89, 53, 67, 30, 73, 16, 69, 87, 40, 31],
    [4, 62, 98, 27, 23, 9, 70, 98, 73, 93, 38, 53, 60, 4, 23]
]

In [208]:
total_sum = 75
index = 0
for i in range(len(arrays)-1):
    candidates = arrays[i+1][index: index+2]
    print(f"next candidates: {candidates}")
    if candidates[1]> candidates[0]:
        index+=1
    total_sum+=np.max(candidates)
    print(f"added {np.max(candidates)} to sum, which is now {total_sum}")

next candidates: [95, 64]
added 95 to sum, which is now 170
next candidates: [17, 47]
added 47 to sum, which is now 217
next candidates: [35, 87]
added 87 to sum, which is now 304
next candidates: [82, 47]
added 82 to sum, which is now 386
next candidates: [23, 75]
added 75 to sum, which is now 461
next candidates: [73, 7]
added 73 to sum, which is now 534
next candidates: [28, 6]
added 28 to sum, which is now 562
next candidates: [56, 83]
added 83 to sum, which is now 645
next candidates: [47, 32]
added 47 to sum, which is now 692
next candidates: [25, 43]
added 43 to sum, which is now 735
next candidates: [73, 17]
added 73 to sum, which is now 808
next candidates: [14, 91]
added 91 to sum, which is now 899
next candidates: [67, 30]
added 67 to sum, which is now 966
next candidates: [70, 98]
added 98 to sum, which is now 1064

In [209]:
total_sum #this is not the solution so just finding the largest next number isnt good enough. Could have guessed.

1064

In [215]:
#lets try starting at the bottom then :/
bottom_up = arrays[::-1]

In [218]:
bottom_up

[[4, 62, 98, 27, 23, 9, 70, 98, 73, 93, 38, 53, 60, 4, 23],
 [63, 66, 4, 68, 89, 53, 67, 30, 73, 16, 69, 87, 40, 31],
 [91, 71, 52, 38, 17, 14, 91, 43, 58, 50, 27, 29, 48],
 [70, 11, 33, 28, 77, 73, 17, 78, 39, 68, 17, 57],
 [53, 71, 44, 65, 25, 43, 91, 52, 97, 51, 14],
 [41, 48, 72, 33, 47, 32, 37, 16, 94, 29],
 [41, 41, 26, 56, 83, 40, 80, 70, 33],
 [99, 65, 4, 28, 6, 16, 70, 92],
 [88, 2, 77, 73, 7, 63, 67],
 [19, 1, 23, 75, 3, 34],
 [20, 4, 82, 47, 65],
 [18, 35, 87, 10],
 [17, 47, 82],
 [95, 64],
 [75]]

In [223]:
for i in range(len(bottom_up)-1):
    new_array = [bottom_up[i+1][j] + np.max(bottom_up[i][j:j+2]) for j in range(len(bottom_up[i+1]))]
    bottom_up[i+1] = new_array
    print(new_array)

[125, 164, 102, 95, 112, 123, 165, 128, 166, 109, 122, 147, 100, 54]
[255, 235, 154, 150, 140, 179, 256, 209, 224, 172, 174, 176, 148]
[325, 246, 187, 178, 256, 329, 273, 302, 263, 242, 193, 233]
[378, 317, 231, 321, 354, 372, 393, 354, 360, 293, 247]
[419, 365, 393, 387, 419, 425, 430, 376, 454, 322]
[460, 434, 419, 475, 508, 470, 510, 524, 487]
[559, 499, 479, 536, 514, 526, 594, 616]
[647, 501, 613, 609, 533, 657, 683]
[666, 614, 636, 684, 660, 717]
[686, 640, 766, 731, 782]
[704, 801, 853, 792]
[818, 900, 935]
[995, 999]
[1074]

In [249]:
#test problem 67 in one go
import urllib
with urllib.request.urlopen("https://projecteuler.net/resources/documents/0067_triangle.txt") as f:
    triangle = f.readlines()

triangle = [x.decode().strip("\n") for x in triangle]
triangle = [[int(x) for x in t.split(" ")] for t in triangle]

In [247]:
def largest_sum(arrays):
    bottom_up = arrays[::-1]
    for i in range(len(bottom_up)-1):
        new_array = [bottom_up[i+1][j] + np.max(bottom_up[i][j:j+2]) for j in range(len(bottom_up[i+1]))]
        bottom_up[i+1] = new_array
#         print(new_array)
    return bottom_up[-1][0]

In [248]:
largest_sum(arrays)

1074

In [250]:
largest_sum(triangle)

7273

## Problem 19

<p>You are given the following information, but you may prefer to do some research for yourself.</p>
<ul><li>1 Jan 1900 was a Monday.</li>
<li>Thirty days has September,<br />
April, June and November.<br />
All the rest have thirty-one,<br />
Saving February alone,<br />
Which has twenty-eight, rain or shine.<br />
And on leap years, twenty-nine.</li>
<li>A leap year occurs on any year evenly divisible by 4, but not on a century unless it is divisible by 400.</li>
</ul><p>How many Sundays fell on the first of the month during the twentieth century (1 Jan 1901 to 31 Dec 2000)?</p>

In [17]:
import datetime
import numpy as np

months = ["january", 
          "february", 
          "march", 
          "april", 
          "may", 
          "june", 
          "juli",
          "august",
          "september", 
          "october", 
          "november", 
          "december"]
thirty_days = ["september", "april", "june", "november"]

def calculate_leapyear(year: int):
    #check possible leap year
    if year % 4 == 0:
        #check century
        if year % 100 == 0 and year % 400 != 0:
            return False
        else:
            return True
    return False

def get_month_length(year: int, month: str) -> int:
    if month == "february":
        if calculate_leapyear(year):
            return 29
        else:
            return 28
    if month in thirty_days:
        return 30
    else:
        return 31
    
def create_calendar_array(start_year, end_year):
    calendar_array = []
    for year in range(start_year, end_year+1, 1):
        for month in months:
            month_length = get_month_length(year = year, month = month)
            calendar_array.append(np.arange(1, month_length+1,1 ))
    return np.hstack(calendar_array)

In [36]:
calendar_array = create_calendar_array(1901, 2000)

In [38]:
#The internet tells me monday 1901 is a tuesday, which makes sunday the 5th element.
#startung from the 5th element which is the first sunday, we count every 7th element that has value 1
np.sum(calendar_array[5::7]==1)

171

## Problem 20

<p>$n!$ means $n \times (n - 1) \times \cdots \times 3 \times 2 \times 1$.</p>
<p>For example, $10! = 10 \times 9 \times \cdots \times 3 \times 2 \times 1 = 3628800$,<br>and the sum of the digits in the number $10!$ is $3 + 6 + 2 + 8 + 8 + 0 + 0 = 27$.</p>
<p>Find the sum of the digits in the number $100!$.</p>

In [148]:
import numpy as np
s = np.sum([int(x) for x in str(np.math.factorial(100))])

In [149]:
s

648